<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mandi Niu</title>
    <meta name="author" content="Mandi Niu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Mandi Niu professional website">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
<body>      
    <header>
    <h1>
        Mandi Niu
    </h1>
    <nav>
        <a href="../index.html">Home</a> |
        <a href="CV.html">CV</a> |
        <a href="For_fun.html">For fun</a> |
        <a href="Contact_me.html">Contact me</a>
    </nav>
    </header>
    <div class="main">
        <h2>Contact Me</h2>
        <!--Add a form with required fields for name, email, and comment.
             Add a table with your contact information.-->
            <form>
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name" required><br><br>
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" required><br><br>
                <label for="comment">Comment:</label><br>
                <textarea id="comment" name="comment" required></textarea><br><br>
                <input type="submit" value="Submit">
            </form>
            <table>
                <tr>
                    <th><strong>Contact Method:</strong></th>
                    <th><strong>Description</strong></th>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>mniu@andrew.cmu.edu</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>+1 (412) 475-2110</td>
                </tr>
            </table>
    </div>
    <footer>
        <p>&copy; 2023 Mandi Niu</p>
    </footer>
</body>
</html>