<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mandi Niu</title>
    <meta name="author" content="Mandi Niu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Mandi Niu professional website">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>      
    <header>
    <h1>
        Mandi Niu
    </h1>
    <nav>
        <a href="../index.html">Home</a> |
        <a href="CV.html">CV</a> |
        <a href="For_fun.html">For fun</a> |
        <a href="Contact_me.html">Contact me</a>
    </nav>
    </header>
    <div class="main">
        <h2>Things I do for fun!</h2>
        <list>
            <li>Watch movies</li>
            <li>Play video games</li>
            <li>Sleep</li>
        </list>
    </div>
    <footer>
        <p>&copy; 2023 Mandi Niu</p>
    </footer>
</body>
</html>