<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Mandi Niu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Mandi Niu professional website">
    <title>Mandi Niu</title>
</head>
<body style="font-family: Arial">      
    <header style="color:blue; background:lightblue">
    <hl>
        Mandi Niu
    </hl>
    <nav>
        <a href="../index.html">Home</a> |
        <a href="CV.html">CV</a> |
        <a href="For_fun.html">For fun</a> |
        <a href="Contact_me.html">Contact me</a>
    </nav>
    </header>
    <div class="main">
        <h2>Contact Me</h2>
        <!--Add a form with required fields for name, email, and comment.
             Add a table with your contact information.-->
            <form>
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name" required><br><br>
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" required><br><br>
                <label for="comment">Comment:</label><br>
                <textarea id="comment" name="comment" required></textarea><br><br>
                <input type="submit" value="Submit">
            </form>
            <table>
                <tr>
                    <td>Email:</td>
                    <td>mniu@andrew.cmu.edu</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>+1 (412) 475-2110</td>
                </tr>
            </table>
    </div>
    <footer>
        <p>&copy; 2023 Mandi Niu</p>
    </footer>
</body>
</html>